SERVER_PORT=9999
SERVER_ADDRESS=localhost

DB_HOST=localhost
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name
DB_FILE=/path/to/sqlite3/db_file

API_KEY=api_key
JWT_SECRET=jwt_secret
JWT_REFRESH=jwt_refresh
SESSION_SECRET=session_secret

MAIL_ADDRESS=smtp_server_address
USER_MAIL=smtp_user_login
PASS_MAIL=smtp_user_password

SSL=/path/to/ssl/directory/with/key/and/cert